In [1]:
#import necessary packages for data cleaning
import pandas as pd
import numpy as np

In [5]:
#loading in the main data set from https://datasets.imdbws.com/
df = pd.read_csv('title.basics.tsv', delimiter='\t', low_memory=False)

In [6]:
#preview df to ensure that data was brought in properly
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
#analyze the length of df
len(df)

6721152

In [35]:
#create a new df with nothing but the titleType movie
dfMovie = df[(df['titleType'] == 'movie')]

In [36]:
#preview of dfMovie
dfMovie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [37]:
#additional preview of dfMovie
dfMovie.info()
print(len(dfMovie))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548292 entries, 8 to 6721102
Data columns (total 9 columns):
tconst            548292 non-null object
titleType         548292 non-null object
primaryTitle      548292 non-null object
originalTitle     548292 non-null object
isAdult           548292 non-null int64
startYear         548292 non-null object
endYear           548292 non-null object
runtimeMinutes    548292 non-null object
genres            548292 non-null object
dtypes: int64(1), object(8)
memory usage: 41.8+ MB
548292

In [38]:
#need to convert startYear as integers to narrow down data set to movies released in 2005-2020
dfMovie['startYear'].dropna()

8          1894
145        1897
332        1900
499        1905
571        1906
           ...
6721041    2015
6721068    2007
6721080    2013
6721091    2017
6721102    2013
Name: startYear, Length: 548292, dtype: object

In [39]:
#drop rows with placeholder values
dfMovie = dfMovie[(dfMovie['startYear'] != '\\N')]

In [40]:
dfMovie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [41]:
dfMovie.startYear = dfMovie.startYear.astype('int32', copy=False)

In [42]:
dfMovie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485061 entries, 8 to 6721102
Data columns (total 9 columns):
tconst            485061 non-null object
titleType         485061 non-null object
primaryTitle      485061 non-null object
originalTitle     485061 non-null object
isAdult           485061 non-null int64
startYear         485061 non-null int32
endYear           485061 non-null object
runtimeMinutes    485061 non-null object
genres            485061 non-null object
dtypes: int32(1), int64(1), object(7)
memory usage: 35.2+ MB

In [43]:
dfMovie = dfMovie[(dfMovie['startYear'] >= 2005) & (dfMovie['startYear'] <= 2020)]

In [45]:
dfMovie.startYear.unique()

array([2014, 2020, 2010, 2018, 2005, 2017, 2006, 2008, 2019, 2007, 2009,
       2012, 2013, 2011, 2015, 2016])

In [46]:
dfMovie.to_csv('movie.csv', index=False)

In [48]:
dfMovie.duplicated(keep='first').unique()

array([False])